<!DOCTYPE html>
<html>

<head>
    <title>Principal</title>
</head>

<body>

    <h1>
        <%= retornolg %>
        
        <br>
        <%= global.iduserlog %>

        
        
    </h1>
</body>

</html>