<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>Cadastrar Usuário</h2>
    <% if(erros) { %>
      <ul>
        <% for(var k in erros) { %>

          <li><%= erros[k].msg %></li>

          <% } %>
          
      </ul>
      <% } %>
    <form action="/novouser" method="POST">
      <div class="form-group">
        <label for="nomeuser">Nome:</label>
        <input type="text" class="form-control" id="nmuser" placeholder="Nome do Usúario" name="nmuser" value="<%= dados.nmuser%>">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="<%= dados.email%>">
      </div>
      <div class="form-group">
        <label for="pwd">Senha:</label>
        <input type="password" class="form-control" id="senha" placeholder="Entre Senha" name="senha">
      </div>
      <button type="submit" class="btn btn-default">cadastrar</button>
    </form>
  </div>

</body>

</html>